.kannada{
  font-family: 'shreelipi', sans-serif !important;
}
.mainpage{
  padding-left: 50px;
  padding-right: 50px;
}
.banner-title{
  border-right: 4px solid #FFEB3B;
  border-top: 4px solid #FFEB3B;
  border-left: 4px solid #FFEB3B;
  margin-top: 80px;
  /*margin-bottom: 80px;*/
  text-align: center;
}
.banner-title .title{
  background-color: #FFF;
  padding: 10px;
  transform: translate(0, -50%);
  font-size: 32px;
  font-weight: bold;
}
.introduction{
  padding-right: 30px;
  margin-bottom: 80px;
  margin-top: 100px;
}
.mainpage .card{
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #CCC;
  margin-bottom: 20px;
  background-color: transparent;
}
.mainpage .card .card-img-top{
  margin-bottom: 10px;
}
.mainpage .card .card-author{
  font-style: italic;
}
.mainpage .card .card-author:before{
  content: "–";
}
.mainpage .card .card-body{
  padding: 0;
}
.mainpage .card .card-text{
  margin-bottom: 10px;
}
.mainpage .card.card-big{
  margin: 0 20px;
}
.mainpage .card.card-big .card-body{
  text-align: center;
  line-height: 32px;
  font-size: 24px;
}
.mainpage .card.card-big .card-body .card-title{
  font-size: 32px;
  font-weight: bold;
  margin-top: 15px;
  margin-bottom: 15px;
}
.mainpage .card.card-big .card-body .card-title-big{
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 15px;
}
.mainpage .card.card-medium,
.mainpage .card.card-small{
  /*padding: 0 20px;*/
}
.mainpage .card.card-medium .card-body,
.mainpage .card.card-small .card-body{
  font-size: 18px;
  line-height: 20px;
}
.mainpage .card.card-medium .card-body .card-title,
.mainpage .card.card-small .card-body .card-title{
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 5px;
}
.mainpage .card.card-medium .card-body .card-title strong:after,
.mainpage .card.card-small .card-body .card-title strong:after{
  content: ': ';
}
.magazine {
  background-color: #C62828;
  color: #FFF !important;
  padding: 40px;
  margin-bottom: 80px;
}
.magazine h1{
  font-size: 48px;
  font-weight: bold;
}
.magazine h2{
  font-size: 36px;
  font-weight: bold;
}
.article-list{
  font-size: 22px;
}
.article-list h1{
  font-size: 36px;
  font-weight: bold;
}
.article-list .samakalina h1{
  border-bottom: 2px solid #81ce57;
}
.article-list .mukhyacharche h1{
  border-bottom: 2px solid #ffa628;
}
.article-list .row{
  border-bottom: 1px solid #CCC;
  padding: 20px 0;
}
.article-list .title{
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 0;
}
.article-list .author{
  font-size: 20px;
  font-style: italic;
  font-weight: bold;
  margin-bottom: 0;
}
.article-list .author:before{
  content: "–";
}
