.mainpage{
  font-family: 'shreelipi', sans-serif !important;
  padding-left: 50px;
  padding-right: 50px;
}
.banner-title{
  border-right: 4px solid #FFEB3B;
  border-top: 4px solid #FFEB3B;
  border-left: 4px solid #FFEB3B;
  margin-top: 80px;
  /*margin-bottom: 80px;*/
  text-align: center;
}
.banner-title .title{
  background-color: #FFF;
  padding: 10px;
  transform: translate(0, -50%);
  font-weight: bold;
}
.samakalina{
  padding-right: 30px;
  margin-bottom: 60px;
}
.mainpage .card{
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #CCC;
  margin-bottom: 20px;
  background-color: transparent;
}
.mainpage .card .card-img-top{
  margin-bottom: 10px;
}
.mainpage .card .card-author{
  font-style: italic;
}
.mainpage .card .card-author:before{
  content: "–";
}
.mainpage .card .card-body{
  padding: 0;
  font-size: 20px;
}
.mainpage .card .card-text{
  margin-bottom: 10px;
}
.mainpage .card.card-big .card-body .card-title{
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 5px;
}
.mainpage .card.card-big .card-body{
  line-height: 24px;
}
.mainpage .card.card-medium .card-body,
.mainpage .card.card-small .card-body{
  font-size: 18px;
  line-height: 20px;
}
.mainpage .card.card-medium .card-body .card-title,
.mainpage .card.card-small .card-body .card-title{
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 5px;
}
.mukhyacharche h1{
  font-weight: bold;
  text-align: center;
  color: #ffa628;
  font-size: 60px;
}
.mukhyacharche h4{
  font-weight: bold;
  text-align: center;
}
.mukhyacharche .card-img-top-small{
  width: 80px;
  margin-bottom: 10px;
}
